*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
  scroll-behavior:smooth;
}
.App {
  max-width: 450px;
  background-color: #fff;
  margin: 0 auto;
  height: 300px;
  padding: 0 1%;
}
